.quick-start__section {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    width: 1440px;
    margin: 87px auto 0px auto;

    .section-head {
        margin-top: 15px;
    }

    .button {
        margin-top: 90px;
    }
}