.browser-text {
    display: flex;
    flex-direction: column;
    width: 480px;

    margin-left: 137px;
    @media only screen and (max-width: 1439px) {
        width: 282px;
        height: 750px;

        margin-left: 0px;
    }

    .section-head {
        margin-top: 25px;
    }

    &__text {
        margin-top: 90px;
        @media only screen and (max-width: 1439px) {
            margin-top: 394px;
        }

        .text {
            margin: 0px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 21.33px;
            line-height: 150%;

            color: #ABABAB;
        }
    }

    .button {
        width: 153px;
        margin-top: 60px;
        @media only screen and (max-width: 1439px) {
            margin-top: 72px;
        }
    }
}