.browser {
    display: flex;

    padding-top: 245px;
    padding-bottom: 421px;

    background: url('../../pictures/siteImages/sky.png'),
                url('../../pictures/siteImages/car.png'),
                url('../../pictures/siteImages/stalker.png');
    background-repeat: no-repeat;
    background-position: left 950px top 252px,
                         left 640px top 228px,
                         left 881px top 493px;

    .shadowl {
        position: absolute;
        left: 951px;
        top: 3063px;
        width: 461px;
        height: 461px;

        background: rgba(0, 185, 239, 0.15);
        filter: blur(125px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}