.cloud-gaming-text {
    display: flex;
    flex-direction: column;
    width: 480px;

    &__section-name {
        display: flex;
        align-items: center;

        .section-name__hr {
            border-top: 1px solid rgba(87, 214, 255, 1);
            width: 50px;
            z-index: 2;
        }

        .section-name {
            width: 140px;
            height: 29px;
            margin: 0px 0px 0px 34px;

            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 180%;

            color: #57D6FF;
        }
    }

    &__head {
        width: 255px;
        height: 39px;

        .head {
            margin: 17px 0px 0px 0px;

            font-style: normal;
            font-weight: 400;
            font-size: 39px;
            line-height: 39px;
            white-space: nowrap;

            color: #FFFFFF;
        }
    }

    &__text {
        margin-top: 60px;

        .text {
            margin: 0px;
            font-style: normal;
            font-weight: 300;
            font-size: 21.33px;
            line-height: 150%;

            color: #ABABAB;
        }

        .text__hr {
            margin: 27px 0px 22px 0px;
            border-top: 0.5px solid rgba(255, 255, 255, 0.2);
            width: 271px;
            z-index: 2;
        }
    }

    &__download {
        margin-top: 74px;

        .download-button {
            width: 80px;
            height: 25px;
            padding: 0px 0px 6px 0px;
            margin-top: 16px;
            border: none;
            border-bottom: 1px solid #00C5FF;

            color: rgba(0, 197, 255, 1);
            background-color: transparent;

            &__text {
                margin: 0px;

                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}