.cloud-gaming-picture__container {
    width: 664.58px;
    height: 383.98px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    height: auto;
    width: 100%;
}