.subscriptiones__section {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    width: 1440px;
    margin: 154px auto 0px auto;

    .section-head {
        margin-top: 15px;
    }

    .subscriptiones__hr {
        border-top: 1px solid rgba(87, 214, 255, 1);
        width: 582px;

        margin-top: 90px;
    }
}