.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;


    width: 1440px;
    margin: 0px auto;
    z-index: -4;

    .vl__top {
        border-left: 1px solid white;
        height: 77px;
        z-index: 2;
        margin-top: 15px;
    }

    .vl__bottom {
        border-left: 1px solid white;
        height: 132px;
        z-index: 2;
        margin-top: 541px;
    }

    .header-text {
        position: absolute;
        width: 216px;
        height: 19px;
        top: 413px;
        left: 863px;
        margin: 0px;
        z-index: 2;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
    }

    .header-title {
        position: absolute;
        width: 632px;
        height: 48px;
        top: 432px;
        left: 404px;
        z-index: 2;
        margin: 0px;

        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        white-space: nowrap;

        color: #FFFFFF;
    }

    .header-button {
        z-index: 2;
        position: absolute;
        width: 251px;
        height: 61px;
        
        top: 577px;

        border: 0px;
        padding: 0px;
        clip-path: polygon(0% 0%, 92% 0, 100% 35%, 100% 100%, 0% 100%);

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;

        background: #FFFFFF;
    }
}