.section-head {
    font-family: 'Aire Exterior';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 39px;
    white-space: nowrap;
    color: #FFFFFF;
    @media only screen and (max-width: 1439px) {
        align-self: center;
    }
}

.section-name__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media only screen and (max-width: 1439px) {
        justify-content: center;
    }

    .section-name__hr {
        border-top: 1px solid rgba(87, 214, 255, 1);
        width: 50px;
        z-index: 2;
    }

    .section-name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 180%;

        margin-left: 30px;

        color: #57D6FF;
    }
}

.button {
    width: 80px;
    height: 25px;
    padding: 0px 0px 6px 0px;
    border: none;

    border-bottom: 1px solid #00C5FF;

    color: rgba(0, 197, 255, 1);
    background-color: transparent;
    @media only screen and (max-width: 1439px) {
        align-self: center;
    }

    &__text {
        margin: 0px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}