.footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 150px;
    margin-top: 87px;

    background: #171717;

    .logo__white {
        width: 360px;
        height: 38px;
        margin-left: 150px;
        background-image: url(../../pictures/logo/WhiteLogo.png);
        background-repeat: no-repeat;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin-right: 87px;

        .footer-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .list-item {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 200;
                font-size: 12px;
                line-height: 14px;
    
                color: rgba(255, 255, 255, 0.5);
    
                .arrow {
                    font-weight: 900;
                    padding-left: 5px;
                }
            }
        }
    
        .left {
            width: 242px;
            margin-left: 15px;
        }
    
        .right {
            width: 424px;
        }
    }
}