.game-servers {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    margin: 22px auto 0px auto;

    &__container {
        width: 664.58px;
        height: 383.98px;

        margin-top: 35px;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper img {
        height: auto;
        width: 100%;
    }
}