.game-servers {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    margin: auto;
    @media only screen and (max-width: 1439px) {
        margin-top: 58px;
        width: 360px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 725px;
        height: 500px;

        background: url(../../pictures/siteImages/Server.png) no-repeat;
        background-position: left 0 top 57px;
        @media only screen and (max-width: 1439px) {
            width: 555px;
            height: 365px;
            background-size: contain;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}